<%var commentsContainerId ='articlesComentsPanel', commentItemTmplId = 'articlesComentTmpl'; %>


<div id="<%=commentsContainerId%>">
    <div class="ch-comments-list list-group ">
        <div class="ch-data-empty-message panel">No comments found.</div>
    </div>

    <% if(!readonly) { %>
    <form accept-charset="UTF-8" role="form">
        <div class="form-group">
            <input type="hidden" name="articleId" value="<%=article._id%>"/>
            <textarea name="comment" class="form-control" style="height: 100px;"></textarea>
        </div>
    </form>
    <input class="btn btn-success" value="Leave comment" type="button">
    <% } %>

    <script id="<%=commentItemTmplId%>" type="text/html">
        <div class="ch-comments-list-item">
            <div class="photo-col">
                <img src="/images/no-photo.png"/>
            </div>
            <div class="content-col">
                <div class="content-col-header">Comment by
                    <a href="/profile/${_user._id}">
                        <strong>${_user._profile.fullName}</strong>
                    </a> at ${$item.created(created)}</div>
                <p class="list-group-item-text">${content}</p>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        (function() {
            var commentsContainer = $('#<%= commentsContainerId %>'),
                commentsItemTpl = $('#<%= commentItemTmplId %>'),
                commentsList = commentsContainer.find('.list-group'),
                commentAddBtn = commentsContainer.find('.btn-success'),
                commentsForm = commentsContainer.find('form');

            function initHandlers() {
                commentAddBtn.on('click', function () {
                    commentsForm.submit();
                });
                commentsForm.validate({
                    rules: {
                        content: { required: true }
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    submitHandler: function (form) {
                        $(form).mask('Loading...');
                        $.ajax('/comment/create', {
                            type: "POST",
                            data: $(form).serialize(),
                            success: function (data) {
                                commentsItemTpl.tmpl(data).appendTo(commentsList);
                                commentsList.removeClass('ch-data-empty');
                            }
                        }).always(function () {
                            $(form).unmask();
                        });
                    }
                });
            }

            function databind() {
                commentsList.mask('Loading...');
                $.ajax('/comment/findByArticleId', {
                    type: "POST",
                    data: {_id: '<%= article._id %>'},
                    success: function (data) {
                        commentsItemTpl.tmpl(data,{
                            created: function (created) {
                                return new Date(created).format("dd-mm-yyyy");
                            }
                        }).appendTo(commentsList);
                        if(data.length == 0){
                            commentsList.addClass('ch-data-empty');
                        }
                    }
                }).always(function () {
                    commentsList.unmask();
                })
            };

            initHandlers();
            databind();
        })();
    </script>
</div>