<%var articlesFeedContainerId = 'articlesFeedContainer',
      articlesFeedListId = 'articlesFeedList'; %>

<div id="<%=articlesFeedContainerId%>" >
    <div id="<%=articlesFeedListId%>" class="ch-feed-list clearfix">
        <div class="ch-data-empty-message panel">No articles found.</div>
    </div>
    <input type="button" class="btn btn-default btn-link btn-block" value="Load more"/>

    <script type="text/javascript">
        $(function (){
            var articlesSearch = '<%=searchText%>',
                articlesContainer = $('#<%= articlesFeedContainerId %>'),
                articlesList = articlesContainer.find('#<%=articlesFeedListId%>'),
                articleLoadBtn = articlesContainer.find('.btn'),
                itemTpl = <%-JSON.stringify(getTpl('articles/feedItem.ejs'))%>;

            function initHandlers() {
                articleLoadBtn.on('click', function () {
                    databind();
                });
            };

            function databind() {
                var startIndex = articlesList.find('.ch-feed-list-item').length;
                articlesList.mask('Loading...');
                loading = true;
                $.ajax('/article/findFeedList', {
                    type: "POST",
                    data: {
                        searchText: articlesSearch,
                        startIndex: startIndex
                    },
                    success: function (data) {
                        if (data.length != 0) {
                            data.forEach(function(article){
                                $(ejs.render(itemTpl, article)).appendTo(articlesList);
                            })
                        } else {
                            if(startIndex == 0) {
                                articlesList.addClass('ch-data-empty');
                            }
                            articleLoadBtn.attr('disabled', 'disabled')
                        }
                    }
                }).always(function () {
                    articlesList.unmask();
                })
            };

            initHandlers();
            databind();
        });
    </script>
</div>