<%var articlesFeedContainerId = 'articlesFeedContainer',
      articlesFeedItemTemplateId = 'articlesFeedItemTemplate',
        articlesFeedListId = 'articlesFeedList'; %>

<div id="<%=articlesFeedContainerId%>" >

    <div id="<%=articlesFeedListId%>" class="ch-feed-list">
        <div class="ch-data-empty-message">No articles found.</div>
    </div>
    <input class="btn btn-default btn-block btn-link" value="Load More" type="button"/>
    <script type="text/html" class="hidden" id="<%=articlesFeedItemTemplateId%>">
       <div class="col-lg-6 ch-feed-list-item" data-readonly="${readonly}">
           <div class="panel">
            <div class="panel-heading">
                <div class="row">
                <div class="ch-feed-title col-lg-6">
                    <strong class="panel-title">${title}</strong>
                    <a class="ch-feed-viewlink" href="/article/${id}">view article</a>
                </div>
                <div class="ch-feed-author col-lg-6">
                    <span>Created by <a href="profile/${userId}"><strong>${author}</strong></a></span>
                </div>
                </div>
            </div>
            <div class="panel-body">
            <p class="ch-feed-content">${content}</p>
            <div class="row">
                <div class="ch-feed-title col-lg-6">
                    ${$item.created(created)}

                    <a class="ch-feed-viewlink" href="/article/${id}">comments (${comments})</a>
                </div>
                <div class="ch-feed-author col-lg-6">
                    <div class="ch-feed-rate">
                        <select>
                            {{each [0,1,2,3,4,5,6,7,8,9]}}
                            <option value="${$value}" ${$item.isSelected(rating, $value)}>${$value}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            </div>
        </div>
       </div>
    </script>
    <script type="text/javascript">
        (function () {
            var articlesFeedStartDate = Date.now(),
                articlesSearch = '<%=searchText%>',
                articlesPanel = $('#<%= articlesFeedContainerId %>'),
                articlesList = articlesPanel.find('#<%=articlesFeedListId%>'),
                articleLoadBtn = articlesPanel.find('.btn'),
                articlesTpl = articlesPanel.find('#<%= articlesFeedItemTemplateId %>');

            function initHandlers() {
                articleLoadBtn.on('click', function () {
                    databind();
                });
            };

            function initRating(ratingCtrl){
                ratingCtrl.barrating({
                    theme: 'bars-movie',
                    readonly: <%=!user%>,
                    onSelect: function (value, text, event) {
                        if (typeof(event) !== 'undefined') {
                            var item = $(event.target).closest('.ch-feed-list-item');
                            id = $.tmplItem(item).data.id;
                            item.mask('Loading...');
                            $.ajax('/article/setUserRate', {
                                type: "POST",
                                data: {rate: value, id: id},
                                success: function (data) {
                                    $(event.target).closest('.author-rate').find('select').barrating('set', data);
                                }
                            }).always(function () {
                                item.unmask();
                            });
                        }
                    }
                });
            }

            function databind() {
                var startIndex = articlesList.find('.ch-feed-list-item').length;

                $.ajax('/article/findFeedList', {
                    type: "POST",
                    data: {
                        searchText: articlesSearch,
                        startdate: articlesFeedStartDate,
                        startIndex: startIndex,
                        pageSize: 5
                    },
                    success: function (data) {
                        if (data.length != 0) {
                            var newArticles = $(articlesTpl.tmpl(data, {
                                isSelected: function (rating, index) {
                                    return rating == index ? 'selected' : '';
                                },
                                created: function (created) {
                                    return new Date(created).format("dd-MM-yyyy");
                                }
                            })).appendTo(articlesList);
                            initRating(newArticles.find('select'));
                        } else {
                            articleLoadBtn.prop("disabled", true);
                            if(startIndex == 0){
                                articlesList.addClass('ch-data-empty');
                            }
                        }
                    }
                }).always(function () {
                    articlesList.unmask();
                })
            };

            initHandlers();
            databind();
        })();
    </script>
</div>