<%var formId = 'articleEditForm'%>

<form id="<%=formId%>" accept-charset="UTF-8" role="form">
    <input name="_id" type="hidden" value="<%=_id%>"/>
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Title..." name="title" type="text" value="<%=title%>"/>
        </div>
        <div class="form-group">
            <textarea rows="10" class="form-control" placeholder="Content..." name="content"  type="text"><%=content%></textarea>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <input name="published" type="checkbox" <%=published ? "checked='checked'" : ""%> />
            </span>
            <span class="form-control">Publish</span>
        </div>
        <div class="form-group input-group">
            <div class="input-group-addon btn btn-success ch-file-upload">
                <span>Background</span>
                <input type="file" name="background" />
            </div>
            <label class="form-control"><%=backgroundFileName ? backgroundFileName : 'No file selected...'%></label>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                Background style
            </span>
            <input class="form-control" name="backgroundStyle" type="text" value="<%=backgroundStyle || ''%>"/>
        </div>
    </fieldset>
</form>

<script>
    (function(){
        var form = $('#<%=formId%>'),
            file = form.find('input[name=background]'),
            style = form.find('input[name=backgroundStyle]');

        function getFormData(){
            var formData = new FormData(form);
            formData.append('background', file[0]);
            return formData;
        }

        function initHandlers(){
            var validator = form.validate({
                rules: {
                    title: {
                        required: true
                    },
                    content: {
                        required: true
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                submitHandler:function(form){
                    var formData = new FormData(form);
                    formData.append('background', file[0]);
                    $(form).trigger('submitHandler', formData);
                }
            });

            file.on('change',function(event){
                var path = event.currentTarget.value.split('\\');
                file.closest('.input-group').find('.form-control').html(path[path.length - 1]);
                if(style.val().indexOf('color') < 0){
                    style.val(style.val() + 'color:white;')
                }
            });
        }
        initHandlers();
    })();
</script>