<%var formId = 'articleEditForm'%>

<form id="<%=formId%>" accept-charset="UTF-8" role="form">
    <input name="id" type="hidden" value="<%=_id%>"/>
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Title..." name="title" type="text" value="<%=title%>"/>
        </div>
        <div class="form-group">
            <textarea rows="10" class="form-control" placeholder="Content..." name="content"  type="text"><%=content%></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <input name="published" type="checkbox" <%=published ? "checked='checked'" : ""%> />
            </span>
            <span class="form-control">Publish</span>
        </div>
    </fieldset>
</form>

<script>
    (function initArticleEdit(){
        var form = $('#<%=formId%>');
        var validator = form.validate({
            rules: {
                title: {
                    required: true
                },
                content: {
                    required: true
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            submitHandler:function(form){
                $(form).mask('Loading...');
                $.ajax('/article/save', {
                    type: "POST",
                    data: $(form).serialize(),
                    success: function (data) {
                        $(form).trigger('articleSaved', data);
                    }
                }).always(function () {
                    $(form).unmask();
                });
            }
        });
    })();
</script>