<% var logoutId = 'logout' %>
<div class="ch-top-navbar">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav  navbar-left">
            <li><a href="/">Home</a></li>
            <% if(user) { %>
            <li><a href="/profile">Profile</a></li>
            <% } %>
        </ul>
        <div class="navbar-right navbar-text">
            <% if(user) { %>
                <span class="collapse">Welcome <strong>'<%=user.name%>'</strong></span>
                <a id='<%=logoutId%>' class="navbar-link">Logout</a>
            <% } else { %>
                <a class="navbar-link" type="button" data-toggle="modal" data-target="#loginDlg">Login</a>
                <span>or</span>
                <a class="navbar-link" type="button" data-toggle="modal" data-target="#signupDlg">Sign up</a>
            <% } %>
        </div>
    </nav>
</div>

<div id="test"><%-partial("../partials/loginDlg.ejs", {data: { dlgId: 'loginDlg', formId: 'loginForm' }}) %></div>
<%-partial("../partials/signupDlg.ejs", {data: { dlgId: 'signupDlg', formId: 'signupForm' }}) %>

<script type="text/javascript">
    $(document).ready(function(){
        $('#<%=logoutId%>').bind('click touchstart', function(){
            $('body').mask('Loading...');
            $.post('/logout', function() {
                window.location = '/';
            }).always(function(){ $('body').unmask();} );
        });

        $('#test').on('show.bs.modal', function (e) {
            var form = $(e.currentTarget).find('form');
            form[0].clear();
        });

        $('#test').on('shown.bs.modal', function (e) {
            var form = $(e.currentTarget).find('form');
            form[0].getEmailField().focus();
        });
    })
</script>