<%var articlesPanelId = 'articlesList', articlesListItemTemplateId = 'articlesListItemTemplate'; %>

<div id="<%=articlesPanelId%>">
    <div class="ch-article-panel panel panel-default <%=readonly?'ch-article-panel--readonly':''%>">
        <div class="panel-heading">
            Articles
            <a class="pull-right glyphicon glyphicon-plus"></a>
        </div>
        <div class="ch-profile-actiles list-group">
        </div>
    </div>
    <script id="<%=articlesListItemTemplateId%>" type="text/html">
        <div class="list-group-item ${(published && !<%=readonly%> ? 'list-group-item-success':'')}">
            <div class="content-col">
                <span>
                    <strong class="list-group-item-heading">${title}</strong>
                    <a href="/article/${_id}">view article</a>
                </span>
                <p class="list-group-item-text">${content}</p>
            </div>
            <div class="edit-col">
                <a class="glyphicon glyphicon-edit"></a>
                <a class="glyphicon glyphicon-trash"
                  data-confirm-button-class="btn-success"
                  data-text="Do you really want to delete that article?"
                  data-confirm-button="Yes I am"
                  data-cancel-button="No"></a>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        (function (){
            var articlesPanel = $('#<%=articlesPanelId%>'),
                articlesTpl = $('#<%=articlesListItemTemplateId%>'),
                articlesList = articlesPanel.find('.list-group'),
                articleAddBtn = articlesPanel.find('.glyphicon-plus');


            function initHandlers(){
                articleAddBtn.on('click', onAdd);
                initListItemHandlers(articlesList);
            }

            function initListItemHandlers(element) {
                var articleEdit = element.find('.glyphicon-edit'),
                    articleDelete = element.find('.glyphicon-trash');

                articleEdit.on('click', onEdit);
                articleDelete.confirm({ confirm: onDelete });
            };

            function databind(){
                var articlesList = $('#<%=articlesPanelId%>').find('.list-group');
                var articlesTpl = $('#<%=articlesListItemTemplateId%>');
                $.ajax('/article/findByUser', {
                    type: "POST",
                    data: { id : '<%=user._id%>' },
                    statusCode: {
                        200: function (data) {
                            articlesTpl.tmpl(data).appendTo(articlesList);
                            initHandlers();
                        }
                    }
                }).always(function () {
                    articlesList.unmask();
                })
            }

            function onAdd(){
                articlesPanel.mask();
                $.ajax('/article/getEditDlg', {
                    type: "POST",
                    success: function (data) {
                        $(data)
                            .appendTo('body')
                            .modal()
                            .on('hidden.bs.modal', function () {
                                $(this).remove();
                            })
                            .on('articleSaved', function(event, data){
                                var row = articlesTpl.tmpl(data).appendTo(articlesList);
                                initListItemHandlers(row);
                            });
                    }
                }).always(function () {
                    articlesPanel.unmask();
                });
            }

            function onEdit(event){
                var item = $.tmplItem($(event.target).closest('.list-group-item'));

                articlesPanel.mask('Loading...');
                $.ajax('/article/getEditDlg', {
                    type: "POST",
                    data: { id: item.data._id },
                    statusCode: {
                        200: function (data) {
                            $(data)
                            .appendTo('body')
                            .modal()
                            .on('hidden.bs.modal', function () {
                                $(this).remove();
                            })
                            .on('articleSaved', function(event, data){
                                item.data = data;
                                item.update();
                                initListItemHandlers($(item.nodes));
                            });
                        }
                    }
                }).always(function () {
                    articlesPanel.unmask();
                });
            }

            function onDelete(button){
                var item = $.tmplItem(button.closest('.list-group-item'));

                articlesPanel.mask('Loading...');
                $.ajax('/article/delete', {
                    type: "POST",
                    data: { id: item.data._id },
                    statusCode: {
                        200: function(){ $(item.nodes).remove(); }
                    }
                }).always(function () {
                    articlesPanel.unmask();
                });
            };

            databind();
        })();
    </script>
</div>