<% var dlgId = 'profileEditDlg'%>


<div id="<%=dlgId%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="articleEditLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="articleEditLabel">Profile edit info</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="_id" value="<%=profile._id%>"/>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group form-group">
                                <span class="input-group-addon">Full Name: </span>
                                <input name="fullName" type="text" class="form-control" value="<%=profile.fullName%>" disabled="disabled"/>
                            </div>
                            <div class="input-group form-group">
                                <span class="input-group-addon">Email: </span>
                                <input name="email" type="text" class="form-control" value="<%=user.email%>" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">First Name: </span>
                                    <input type="text" name="firstName" class="form-control" value="<%=profile.firstName%>"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group ">
                                    <span class="input-group-addon">Last Name: </span>
                                    <input type="text" name="lastName" class="form-control" value="<%=profile.lastName%>"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-right">
                <input class="btn btn-success" value="Save" type="button">
                <input class="btn btn-default" value="Cancel" data-dismiss="modal" type="button">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function(){
            function initHandlers(){
                var dlg = $('#<%=dlgId%>'),
                    form = dlg.find('form'),
                    saveBtn = dlg.find('.btn-success');

                saveBtn.on('click', function(){
                    form.submit();
                });

                dlg.bind('keypress', function(e) {
                    var keyCode = e.keyCode || e.which;
                    if(keyCode == 13){
                        form.submit();
                    }
                });

                form.validate({
                    rules: {
                        firstName: {
                            required: true,
                        },
                        lastName: {
                            required: true
                        }
                    },
                    highlight: function(element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    errorPlacement: function(error, element) {
                        error.appendTo(element.closest('.form-group'));
                    },
                    submitHandler: function(){
                        form.mask('Saving...')
                        $.ajax('/profile/update', {
                            type: "POST",
                            data: form.serialize(),
                            success:function(data){
                                dlg.trigger('profileSaved', data);
                                dlg.modal('hide');
                            }
                        }).always(function () {
                            form.unmask();
                        });
                    }
                });
            }
            initHandlers();
        })();
    </script>
</div>