<%var articlesContainerId = 'articlesContainer',
      articlesListId= 'articlesList'; %>

<div id="<%=articlesContainerId%>">
    <div class="ch-profile-article-panel panel panel-default <%=readonly?'ch-profile-article-panel--readonly':''%>">
        <div class="panel-heading">
            Articles <a class="pull-right glyphicon glyphicon-plus"></a>
        </div>
        <div class="panel-body">
            <div id="<%=articlesListId%>" class="ch-profile-actiles-list row">
                <div class="ch-data-empty-message">No articles found.</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function (){
            var articlesContainer = $('#<%=articlesContainerId%>'),
                articlesList = articlesContainer.find('#<%=articlesListId%>'),
                articleAddBtn = articlesContainer.find('.glyphicon-plus'),
                itemTpl = <%-JSON.stringify(getTpl('articles/profileItem.ejs'))%>;


            function initHandlers(){
                articleAddBtn.on('click', onAdd);
                initListItemHandlers(articlesList);
            }

            function initListItemHandlers(element) {
                var articleEdit = element.find('.glyphicon-edit'),
                    articleDelete = element.find('.glyphicon-trash');

                articleEdit.on('click', function(){ onEdit(element)} );
                articleDelete.confirm({ confirm: function(){ onDelete(element) }});
            };

            function databind(){
                articlesContainer.mask();
                $.ajax('/article/findByUser', {
                    type: "POST",
                    data: { id : '<%=user._id%>' },
                    success:  function (data) {
                        articlesList.html('');
                        data.forEach(function(article){
                            initListItemHandlers($(ejs.render(itemTpl, article)).appendTo(articlesList).wrap("<div class='col-lg-4'></div>"));
                        })
                        if(data.length == 0){
                            articlesList.addClass('ch-data-empty');
                        }
                    }
                }).always(function () {
                    articlesContainer.unmask();
                })
            }

            function onAdd(){
                articlesContainer.mask();
                $.ajax('/article/getEditDlg', {
                    type: "POST",
                    success: function (data) {
                        var dlg = $(data)
                            .appendTo('body')
                            .modal()
                            .on('hidden.bs.modal', function () {
                                $(this).remove();
                            })
                            .on('articleSaved', function(event, data){
                                dlg.modal('hide');
                                databind();
                            })
                    }
                }).always(function () {
                    articlesContainer.unmask();
                });
            }

            function onEdit(item){
                var id = item.attr('data-id');
                articlesContainer.mask('Loading...');
                $.ajax('/article/getEditDlg', {
                    type: "POST",
                    data: { id: id },
                    success: function (data) {
                        var dlg = $(data)
                        .appendTo('body')
                        .modal()
                        .on('hidden.bs.modal', function () {
                            $(this).remove();
                        })
                        .on('articleSaved', function(event, data){
                            dlg.modal('hide');
                            databind();
                        })
                    }
                }).always(function () {
                    articlesContainer.unmask();
                });
            }

            function onDelete(item){
                var id = item.attr('data-id');
                articlesContainer.mask('Loading...');
                $.ajax('/article/delete', {
                    type: "POST",
                    data: { id: id },
                    success: function(){ databind(); }
                }).always(function () {
                    articlesContainer.unmask();
                });
            };

            databind();
            initHandlers();
        })();
    </script>
</div>