<%
    var background = function (backgroundPath){
        return backgroundPath.replace('public\\','').replace(new RegExp("\\\\",'g'), '/')
    }
    var formatDate = function (created) {
        return new Date(created).format("dd-mm-yyyy");
    }
%>

<div class="col-lg-6 ch-feed-list-item">
    <div class="panel" >
        <div class="panel-heading">
            <div class="row">
                <div class="ch-feed-title col-lg-6">
                    <a class="ch-feed-viewlink" href="/article/<%=id%>"><strong class="panel-title"><%=title%></strong></a>
                </div>
                <div class="ch-feed-author col-lg-6">
                    <span>Created by <a href="/profile/<%=userId%>"><strong><%=author%></strong></a></span>
                </div>
            </div>
        </div>
        <div class="panel-body" style="background-image: url('<%=background(backgroundPath)%>'); <%=backgroundStyle%>">
            <div class="ch-feed-content"><%=content%></div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="ch-feed-title col-lg-6">
                    <%=formatDate(created)%>
                    <a class="ch-feed-viewlink" href="/article/<%=id%>">comments (<%=comments%>)</a>
                </div>
                <div class="ch-feed-author col-lg-6">
                    <div class="ch-feed-rate">
                        <span>rating
                            <strong><%=parseFloat(rating).toFixed(1)%>
                                <span class="glyphicon glyphicon-star"></span>
                            </strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>